@media all and (max-width: 420px){

  .row{
    width: 100%;
    margin-top: 50px;
  }

  #lezioni .row>.left,
  #lezioni .row>.right, #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right{
    width: 100%;
    float: none;
    margin-bottom: 50px;
  }

}

/* BONUS */

@media all and (min-width: 421px) and (max-width: 768px){

  /* regole generali */
  .row{
    width: 100%;
  }

  img{
    height: 150px;
  }

  /* regole #lezioni */
  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 50%;
  }

  /* regole steps */
  #steps .row>.left, #steps .row>.central, #why .row>.first,
  #why .row>.second{
    width: 50%;
  }

  #steps .row>.left, #steps .row>.right, #why .row>.first, #why .row>.third{
    float: left;
  }

  #steps .row>.central, #why .row>.second{
    float: right;
  }

  #steps .row>.right, #why .row>.third {
    width: 100%;
    margin: 50px 0;
  }

  #why hr{
    display: none;
  }
